[user]
	email = nobody@example.com
	name = m0wnmt
[alias]
	co = checkout
	br = branch
	st = status
	aa = add -A
	cm = commit -m
	po = push origin
	ls = log --pretty=format:"C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  
